/* styles.css */
:root {
    --green: rgba(0, 255, 0, 0.8);
}

body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

#matrixWallpaper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 20px;
    user-select: none;
    filter: blur(2px);
    font-family: 'Orbitron', sans-serif;
    color: green;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

#matrixWallpaper span {
    position: absolute;
    animation: fall linear;
    animation-fill-mode: forwards;
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
    filter: brightness(2.5);
}

/* END OF WALLPAPER */

/* START OF CALCULATOR */

#calculatorContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculatorInput {
    border: 1px solid rgba(0, 255, 0, 0.8);
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    outline: none;
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    color: rgba(0, 255, 0, 0.8);
    opacity: 1;
    animation: expandToSize 1s ease-in-out;    
}

@keyframes expandToSize {
    0% {
        width: 0;
        height: 0;
        border-radius: 0;
        padding: 0;
    }
    5% {
        opacity: 1;
        width: 10%;
        height: 0;
        border-radius: 0;
    }
    10% {
        width: 20%;
        height: 0;
    }
    15% {
        width: 30%;
        height: 0;
    }
    20% {
        width: 40%;
        height: 0;
    }
    25% {
        width: 50%;
        height: 0;
    }
    30% {
        width: 60%;
        height: 0;
    }
    35% {
        width: 70%;
        height: 0;
    }
    40% {
        width: 80%;
        height: 0;
    }
    45% {
        width: 90%;
        height: 0;
    }
    50% {
        width: 100%;
        height: 0;
        padding: 0;
    }
    55% {
        height: 10%;
    }
    60% {
        height: 20%;
    }
    65% {
        height: 30%;
    }
    70% {
        height: 40%;
    }
    75% {
        height: 50%;
    }
    80% {
        height: 60%;
    }
    85% {
        height: 70%;
    }
    90% {
        height: 80%;
    }
    95% {
        height: 90%;
    }
    100% {
        height: 100%;
        border-radius: 10px;
        padding: 20px;
    }
}
